* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}


body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(../imgs/bg.jpg);
    background-size: 100% 100%;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;


    .mouse {
        width: 20px;
        height: 20px;
        position: fixed;
        left: -200px;
        z-index: 1000;
        pointer-events: none;
        transform: rotate(10deg);
        // user-select: none;
    }

    div{
        width: 800px;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       a{
        display: block;
        width: 350px;
        height: 60px;
        border: none;
        outline: none;
        text-decoration: none;
        text-align: center;
        font-size: 1.4rem;
        padding: .6rem;
        border-radius: 2.5rem;
        transition: .3s;
        background-color: transparent;
        color: rgb(0, 0, 0);
        border: 2px solid rgba(254, 153, 253, 0.5);

        user-select: none;
        
    
        &:hover{
            // color: rgb(75, 208, 75);
            // color: rgb(120, 198, 237);
            color: rgb(103, 232, 103);
            // cursor: pointer;
            box-shadow: 0 0 15px rgba(254, 153, 253, 1);
            font-size: 1.5rem;
            // background-image: linear-gradient(45deg,white,rgb(103, 232, 103),white,rgb(103, 232, 103));
            background-size: 150% 150%;
            
        }
       }
    }
}
