* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}


body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(../imgs/bg.jpg);
    background-size: 100% 100%;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;


    .mouse {
        width: 20px;
        height: 20px;
        position: fixed;
        left: -200px;
        z-index: 1000;
        pointer-events: none;
        transform: rotate(10deg);
        // user-select: none;
    }

    div{
        width: 800px;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2{
            letter-spacing: 1px;
            word-spacing: 2px;
        }
        p{
            margin-top: 10px;
            max-width: 600px;
            letter-spacing: 1px;
            word-spacing: 2px;
        }
    }
}
